//To space page body
mat-card {
    margin-bottom: 1em;
}

//To space the add student div
.addStudentGroup {
    margin-left: 1em;
}

//To space student email field
#studentEmails {
    width: 60%;
    margin-right: 1em;
}