<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- User Name Column -->
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>
  </ng-container>

  <!-- User Email Column -->
  <ng-container matColumnDef="Email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <!-- User Role Dropdown -->
  <ng-container matColumnDef="Role">
    <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.roleName}} </mat-cell>
  </ng-container>

  <!-- Edit User Button Column -->
  <ng-container matColumnDef="ViewDetails">
    <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" [routerLink]="['/users/edit/', element.id]">Edit</button>  
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<!-- Add User Button -->
<button mat-raised-button color="primary" class="backButton" [routerLink]="['add']" id="assignmentButton">Add
  User</button>